.card-bold-txt {
    font-size: 18px !important;
    font-weight: 600 !important;
}

.regular-txt {
    padding-top: 17px !important;
    width: 70%;
    font-size: 18px !important;
    color: gray !important;
    height: 100px !important;
    text-justify: inter-word !important;
}

.subscribe-graph-heading {
    text-align: center;
}

.card-bold-number-text {
    font-size: 50px !important;
    font-weight: 600 !important;
    padding-top: 15px !important;
    box-shadow: inset 0 0 0 0 #F0C127;
    /* color: #54b3d6; */
    /* margin: 0 -.25rem; */
    /* padding: 0 .25rem; */
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin-top: 0px;
}

.regular-bold-text {
    font-size: 16px !important;
}

.learn-more-btn {
    font-weight: bold !important;
    width: 136px !important;
    font: normal normal medium 14px/52px Poppins !important;
    border: 1px solid gray !important;
    background: white !important;
    color: black !important;
    border-radius: 30px !important;
    margin-top: 38px !important;
}

.learn-more-btn:hover {
    width: 136px !important;
    border: 1px solid #F0C127 !important;
    background: black !important;
    color: white !important;
    border-radius: 30px !important;
    font-size: 14px !important;
}

.card-container {
    position: relative;
    background: #FAFAFA !important;
    width: 100% !important;
    height: max-content !important;
    border: 1px solid #D9D9D9;
}

.bar-graph-image {
    bottom: 10px;
    right: 1em;
    position: absolute;
    width: 219px;
    height: 282px;
}

.card-content-graph {
    /* display: flex; */
}

.card-sub-content {
    display: grid;
    /* width: 70%; */
}


.risk-factor {
    /* left: calc(50% - 0.5rem); */
    line-height: 1;
    /* padding-top: 0.5rem; */
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    white-space: nowrap;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    height: 22px;
    position: absolute;
    right: 14em;
    bottom: 0;
    transition: all 0.5s ease-in;
    font-weight: bold;
}

/* 
.card-content-graph:hover .risk-factor {
    transform: rotate(180deg)translateY(120px);
    transition: all 0.8s ease-out;
}

.card-content-graph:hover .risk-factor.two {
    transform: rotate(180deg)translateY(47px);
    transition: all 0.8s ease-out;
}

.card-content-graph:hover .risk-factor.three {
    transform: rotate(180deg)translateY(140px);
    transition: all 0.8s ease-out;
}

.card-content-graph:hover .risk-factor.fixed {
    transform: rotate(180deg)translateY(60px);
    transition: all 0.8s ease-out;
}

.card-content-graph:hover .risk-factor.fixed-two {
    transform: rotate(180deg)translateY(210px);
    transition: all 0.8s ease-out;
}

.card-content-graph:hover .risk-factor.fixed-three {
    transform: rotate(180deg)translateY(20px);
    transition: all 0.8s ease-out;
} */

.card-content-graph:hover .card-bold-number-text {
    /* box-shadow: inset 200px 0 0 0 #F0C127; */
    /* color: white; */
}

.risk-factor.two {
    right: 8.8em;
}

.risk-factor.three {
    right: 3.2em;
}

.risk-factor.fixed-two {
    right: 8.8em;
}

.risk-factor.fixed-three {
    right: 3.2em;
}

.container-for-text-and-graph {
    display: flex;
    justify-content: space-between;
}

.bar-graph-container {
    background: #efc127;
    width: 25px;
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0 0;
}

.graphs-logo {
    margin-top: 5rem;
}

@media screen and (max-width: 920px) {
    .card-container {
        width: 100% !important;
        margin-top: 1em;
    }
}

@media screen and (min-width: 870px) {
    .subscribe-graph-heading {
        text-align: start;
    }

    .graphs-logo {
        margin-top: 1.2rem;
    }
}

@media screen and (max-width: 550px) {
    .graphs-logo {
        margin-top: 1.4rem;
    }

    .container-for-text-and-graph {
        display: block;
        margin: auto;
    }

    .text-section-subscribe {
        padding-bottom: 21em;
        text-align: center;
    }

    .regular-txt {
        height: fit-content !important;
    }

    .bar-graph-container.one {
        margin-left: -80px;
        left: 50%;
    }

    .bar-graph-container.two {
        margin-left: -10px;
        left: 50%;
    }

    .bar-graph-container.three {
        margin-left: 60px;
        left: 50%;
    }

    .risk-factor {
        margin-left: -105px;
        left: 50%;
    }

    .risk-factor.fixed-two {
        margin-left: -35px;
        left: 50%;
    }

    .risk-factor.fixed-three {
        margin-left: 35px;
        left: 50%;
    }

    .risk-factor.two {
        margin-left: -35px;
        left: 50%;
    }

    .risk-factor.three {
        margin-left: 35px;
        left: 50%;
    }

    .card-content-graph:hover .card-bold-number-text {
        box-shadow: none;
        color: black;
    }

}

@media screen and (max-width: 500px) {
    .card-bold-number-text {
        margin-top: 47px !important;
    }

    .bar-graph-image {
        position: inherit;
        margin: auto;
    }

    .card-content-graph {
        display: grid;
    }

    .card-container {
        display: grid !important;
        justify-content: center !important;
    }

    .card-sub-content {
        display: grid;
        text-align: center;
        width: 100%;
    }

    .learn-more-btn {
        margin: auto !important;
        margin-bottom: 1em !important;
    }

    .regular-txt {
        height: 80px !important;
    }

    .regular-bold-text {
        margin-top: 1em !important;
        margin-bottom: 1em !important;
    }
}