.my-profile-container {
    height: 100%;
    padding-top: 8em;
    margin-bottom: 5em;
}

.btn-section-my-profile {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.details-conatiner-myprofile {
    margin-top: 60px;
}

.link-for-complete-kyc {
    color: #AB7905;
    margin-left: 39px;
    text-decoration: none;
}

.details-conatiner-myprofile.second {
    margin-top: 60px;
    display: grid;
}

.heading-personal-details {
    font-size: 16px;
    font-weight: 600;
}

.kyc-pending-btn-my-profile {
    width: fit-content !important;
    height: 40px !important;
    /* UI Properties */
    background: #FADF35 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 0px 23px #00000029 !important;
    border-radius: 20px !important;
    color: black !important;
    font-size: 16px !important;
}
.kyc-pending-btn-my-profile.completed{
    background: #01965D 0% 0% no-repeat padding-box !important;
    color: white !important;
}

.card-complete-kyc-notice {
    margin-top: 65px !important;
    box-shadow: 0px 0px 20px #00000017 !important;
    border-radius: 9px !important;
}

.card-complete-container {
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text-container-card-kyc {
    display: grid;
    margin-left: 25px;
}
.head-txt-kyc-card{
font-size: 18px;
font-weight: 600;
}
.sub-txt-kyc-card{
    max-width: 414px;
    width: 100%;
    font-size: 14px;
    color: #777777;
}
.submit-btn-startup.kyc{
    margin-left: 15px;
}

.card-complete-kyc-notice.brief{
    margin-top: 15px !important;

}
.card-complete-container.brief{
   display: flex; 
   margin-top: 15px ;
   align-items: center;
   max-width: 300px;
}
@media screen and (max-width:680px) {
    .card-complete-container {
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .image-of-kyc-container{
        margin: auto;
    }
    .text-container-card-kyc{
        margin-top: 14px;
    }
    .sub-txt-kyc-card{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .submit-btn-startup.kyc{
        margin: auto;
        
    }
}