.zero-of-threehundred {
    text-align: right;
    /* max-width: 800px; */
    width: 100%;
    text-align: right;
    font: normal normal normal 12px/16px Poppins !important;
    letter-spacing: 0px;
    color: #676767 !important;
}

.faqs-title {
    text-align: left;
    font: 18px/48px Poppins !important;
    font-weight: bold !important;
    letter-spacing: 0px;
    color: #000000;
}

.faqs-button-parent {
    /* max-width: 800px; */
    width: 100% !important;
    text-align: center;
    margin-bottom: 5rem;
}

.existing-faq {
    margin-right: 30px;
}

.faqs-container-mob {
    margin-bottom: 5em;
}

@media screen and (max-width : 1024px) {
    .faqs-button-parent {
        /* max-width: 800px; */
        width: 100% !important;
        text-align: right;
    }

    .faq-text-wrapper {
        margin-right: 16px !important;
    }

    .faq-container-mb {
        padding-right: 0 !important;
    }

    .existing-faq {
        margin-right: 16px !important;
    }

    .faq-next-btn {
        margin-right: 20px !important;
    }

    .faq-form {
        margin-right: 16px !important;
    }
}

@media screen and (max-width : 425px) {
    .existing-faq {
        margin-right: 16px !important;
    }

    .faq-text-wrapper {
        margin-right: 16px !important;
    }

    .faq-container-mb {
        padding-right: 0 !important;
    }
}

@media screen and (max-width : 320px) {
    .faqs-button-parent {
        width: 100% !important;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}