.upload-pitch-parent {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

@media screen and (min-width: 870px) {
    .upload-pitch-parent {
        /* margin-left: 2rem; */
        margin: 16px;
    }
}

@media screen and (max-width: 370px) {
    .upload-pitch-parent {
        height: 100vh !important;
    }
}